<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- title for the navigator -->
    <title>{% block title %}Bienvenu sur le site sortir.com!{% endblock %}</title>

    <!-- required meta tags -->
    <meta charset="UTF-8">
    <!-- ne concerne que le navigateur Internet Explorer.
    Elle permet de s’assurer qu’il utilise la dernière version du moteur de rendu.-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- concerne uniquement les mobiles.
    On demande que l’affichage occupe tout l’espace disponible avec une taille de 1, autrement dit sans zoom.-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- le but de ces appels est de permettre aux navigateurs ne prenant pas en charge HTML5 et
    les Media Queries CSS3 de le faire ; il visent essentiellement IE8. Le but du fichier html5shiv
    est de créer les éléments(avec createElement) de type bloc du HTML5 (header, section, aside …)
    qui sont ignorés par IE8-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block stylesheets %}
        <!-- declaration du fichier CSS dans sa version minifiée -->
        <link href="{{ asset('css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
</head>
<body>
{% include ('inc/header.html.twig') %}

{% block main %}
{% endblock %}

{% block javascripts %}
    <!—pour ne pas ralentir le chargement, en fin de page-->
    <!--librairie jQuery minifiée récupérée indépendamment-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--si vous utilisez des composants JavaScript, référencez la librairie de Bootstrap-->
    <script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>

{% endblock %}
</body>
</html>

