<br>
<div class="row d-flex justify-content-center taille">
    {# pour eviter le phishing, ajour de rel="noopener noreferrer"#}
    <p>
        Informations légales -
       &copy; {{ "now"|date("Y")}} <strong>Sortir.com</strong> by <a href="https://www.eni-ecole.fr" rel="noopener noreferrer" target="_blank">ENI Ecole Informatique</a>
        &nbsp;-&nbsp;<a href="https://www.app.asso.fr/centre-information/base-de-connaissances/code-logiciels/les-contrats/contrat-de-licence-dutilisation-logiciel-libre" rel="noopener noreferrer" target="_blank">Le code source est sous licence</a>
        &nbsp;-&nbsp;<a href="https://www.economie.gouv.fr/apie/propriete-intellectuelle-publications/contenus-sous-licences-libres" rel="noopener noreferrer" target="_blank">Le contenu du site Web est sous licence</a>
        &nbsp;-&nbsp;<a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees" rel="noopener noreferrer" target="_blank">RGPD</a>
        &nbsp;-&nbsp;<a href="https://www.numerique.gouv.fr/publications/rgaa-accessibilite/obligations/" rel="noopener noreferrer" target="_blank">Accessibilité</a>
    </p>
</div>
