<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <a class="navbar-brand" href="#"><img src="{{ asset('image/logo.jpg') }}" alt="logo" width="100px"></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Accueil</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Mon profil</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Administration</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Participants</a>
                <a class="dropdown-item" href="#">Villes</a>
                <a class="dropdown-item" href="#">Sites</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Se déconnecter</a>
        </li>
    </ul>

</nav>